/* Global Styles */
body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Header Section */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    margin: 20px auto;
    max-width: 1200px;
}

header .logo img {
    width: 150px;
}

header .contact-info {
    margin-left: 20px;
    line-height: 1.6;
    flex-grow: 1;
}

header .account {
    margin-left: auto;
}

header .account button {
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header .account button:hover {
    background-color: #333;
}

/* Banner Section */
.banner {
    background: linear-gradient(to right, blue, red);
    opacity: 0.75;
    padding: 10px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1200px;
